extends layout

block content
  ul.error
    for item in messages
      li= item
  h2.page-header Login
  p Please login below
  form(method='post', action='/users/login')
    label Username
    input.form-control(name='username', type='text', placeholder='Enter Email')
    .form-group
    label Password
    input.form-control(name='password', type='password', placeholder='Enter Password')
    input.btn.btn-primary(type='submit', name='submit', value='Login')